<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo Tasks</title>
  </head>
  <body>
    <h1>All Tasks</h1>
    <ol>
      <% for( let allTask of allTasks ) { %>
         <!-- making it to a link accessible to all -->
      <li><a href="/tasks/<%=allTask._id%>"><%= allTask.title %></a></li>
      <% } %>
    </ol>
  </body>
</html>
