<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New To-Do task</title>
</head>
<body>
   <h1>New Task</h1>
   <form action="/tasks" method="post">
      <label for="title">title: </label>
      <input type="text" name="title" id="title" placeholder="title">
      <br>
      <label for="description">description:</label>
      <br>
      <textarea name="description" id="description" cols="30" rows="10"></textarea>
      <button>submit</button>
   </form>
</body>
</html>